p {
  font-size: 16px;
  padding-top: 20px;
}

.gcd-heading {
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  border: solid;
  display: inline-block;
  padding: 12px 16px 18px !important;
}

.text-white {
  color: #fff;
  border-color: #fff;
}

@media all and (min-width: 981px) {

  .et_pb_gutters3 .et_pb_column_1_3 .et_pb_module {
    margin: 0px !important;
  }
}